<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 header">
      <div class="row">
        <div class="col-lg-1 logo"><img src="../../assets/logo.png"></div>
        <div class="col-lg-3 logo"><h2><b>Recipe master</b></h2></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <ul class="nav navbar-nav myNav">
                <li class="active"><a href="#">Recipes book</a></li>
                <li><a href="#">shopping list</a></li>
              </ul></div>
      </div>
    </div>
  </div>
</div>
