
      <div class="row header">
        <div class="col-lg-4 logo"><h3><b>  Recipe master</b></h3></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="dropdown">
                <button class="btn my-btn dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Bilal Alam
                <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">settings</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" (click)="logout()">logout</a></li>
                </ul>
              </div>
      </div>

