<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="username">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="password">
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="confirm password">
            </mat-form-field>
            <button mat-raised-button style="background-color:#00BF9A;color:white">sign up</button>
      </form>