/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: "myfont";
    src: url("assets/fonts/Geomanist-Regular.otf");
    }
    .mat-tooltip {
        color:black;
        border-radius: 2px;
        margin: 14px;
        font-size: 14px;
        font-family: myFont;
        max-width: 250px;
        padding-left: 8px;
        padding-right: 8px;
        background-color:green 
    }