<div class="container-fluid" id="back">
  <div class="container">
    <div class=" gap"></div>
    
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-2"><img class=" slideInLeft" src="../../assets/logo.png"><h3 class="app-title">Recipe master</h3></div>
  <div class="col-lg-4 "><h3 class=" slideInRight tagline">"I never really cook from 
    recipes. But the worst is when something turns out great and I can't figure out how to 
    make it again!"<br><b class="author">Blake Lively</b></h3></div>
  <div class="col-lg-3"></div>
</div>
<div class="gap"></div>
<div class="row">
  <!-- Sign in box -->  
    <div  (click)="signin()" class="col-lg-5  slideInLeft box" matTooltip="sign in" matTooltipPosition="above" [(class)]="form2">
        <div *ngIf="signinFlag" class="form-box">
            <app-signin></app-signin>
        </div>
      <img *ngIf="!signinFlag" class=" img2" src="../../assets/login.png">
    </div>
    <!-- Sign in box -->
    <div  class="col-lg-2 box" matTooltip="login as guest" matTooltipPosition="above">
    <img class=" img2" src="../../assets/guest.png">
  </div>
    <!-- Sign up box -->
  <div (click)="signup()"  class="col-lg-5  slideInRight" matTooltip="sign up" matTooltipPosition="above" [(class)]="form">
      <div *ngIf="signupFlag" class="form-box">
        <div style="margin-top:-20px">
          <app-signup></app-signup>
        </div>
      </div>
    <img class=" img2"  *ngIf="!signupFlag" src="../../assets/signup.png">
    
  </div>
  <!-- Sign up box -->
</div>
<div class="gap"></div>
</div>
</div>